backend/nlp/.cache/*
backend/nlp/__pycache__/*
backend/nlp/.ipynb_checkpoints/*
path_to_your_nltk_data_directory/*
backend/kobart/*
backend/crawling/*.csv
backend/crawling/__pycache__/post_crawling.cpython-38.pyc
backend/capstone/*